.logo{
    display:block ; 
    margin-left: auto;  
    margin-right: auto;  
    height: 12rem; 
    width:16rem;
    margin-bottom: 0px;
    
    }
h1 {
    text-align: center;
    margin-top: 0px;
    font-size: 36px;
    color: #333;
    
    }
.container{
    justify-content: center;
}
.gogo{
        text-align: center;
        width: 80%;
        height: 50%;
        
    
    }
th{
        background-color: lightblue;
    }
    